/404.php
/add2course.php
/alextest.php
/apple-touch-icon.png
/archive
/awstat*
/certificates
/courses
/custompages
/documentation
/license.txt
/news*.php
/phpmyadmin
/replace_links.php
/robots.txt
/stats
/*.html
/vw2
/rokbox
/phpinfor.php
/.htaccess
/crossdomain.xml
/main/inc/conf/configuration.php
*.mp4
